<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Democracy for America Groups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div style="max-width: 1080px; margin: auto;">
  <h1>Democracy for America Groups</h1>
  <p>Twelve years ago, DFA created a suite of online organizing tools at a time when no other platforms met the needs of grassroots activists. As DFA and the broader progressive movement grow and change, we've found this is no longer the case - rather than relying on custom tools specific to DFA, most of our local chapters now use and platforms like Slack, Google Groups and Meetup (as well as Facebook and Twitter) to handle communications and organizing needs.</p>
  <p>As such, we've decided to redirect our technology resources towards projects where we believe we'll create more of an impact, and have chosen to suspend DFA's legacy online groups platform.</p>
  <p>If you're a DFA group member or organizer seeking to transfer your group's membership to a new mailing list or platform, please get in touch with us via groups@democracyforamerica.com. We're happy to support your transition to a modern platform!</p>
</div>

</body>
</html>

